<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller sign-up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input type="text" class="form-input" placeholder="Enter name" name="name" ngModel>
            <input type="password" class="form-input" placeholder="Enter password" name="password" ngModel>
            <input type="text" class="form-input" placeholder="Enter email" name="email" ngModel>
            <button class="form-button">sign Up</button>
        </form>
    </div>
</div>